@import "~antd/dist/antd.css";

.site-layout .site-layout-background {
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media only screen and (max-width: 568px) {
  main.ant-layout-content.site-layout {
    padding: 0 !important;
  }
  .site-layout .site-layout-background {
    padding: 24px 0 !important;
  }
}
header {
  font-size: x-large;
  color: #fff;
  background-color: #7854b3;
}

header.ant-layout-header {
  background-color: #7854b3;
}

h3.ant-typography.title {
  color: #2869a5;
}

.searchInput {
  margin: 10px 0;
  width: 50%;
}

.searchDiv {
  display: flex;
  justify-content: center;
}
.ant-input-group > .ant-input:first-child,
.ant-input-group-addon:first-child {
  border-radius: 30px 30px;
  height: 50px;
  text-align: center;
}

.ant-input-group-addon {
  display: none;
}

.headerImage {
  border-radius: 10px;
}
